<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MY-FAI</title>
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="/images/icons/rose.ico"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/css/util.css">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Audiowide">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lobster">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Reem Kufi">
    <style>
        body {
            font-family: 'Reem Kufi', serif; !important;
        }
        .container-login100{
            background: linear-gradient(45deg, lightsalmon, lightcyan, lightpink, aquamarine);
            background-size: 500% 500%;
            animation: gradient 15s ease infinite;
        }
        .login100-form-title {
            font-family: 'Audiowide', serif;
        }
    </style>
</head>
<body>
<div class="limiter">

    <div class="container-login100">

        <div class="wrap-login100">
				<span class="login100-form-title" style="font-size:50px; margin-top:-120px">
						KB MY-FAI
				</span>
            <span class="login100-form-title" style="font-size:12px; margin-top:-50px">
						MY Financial Artificial Intelligence
				</span>
            <div class="login100-pic js-tilt" data-tilt>
                <img src="/images/KB finance.png" alt="IMG">
            </div>


            <form class="login100-form validate-form" method="post">
					<span class="login100-form-title">
						USER ID
					</span>

                <div class="wrap-input100 validate-input" data-validate = "rootID is required">
                    <input class="input100" type="text" name="userID" placeholder="ID">
                    <span class="focus-input100"></span>
                    <span class="symbol-input100">
							<i class="fa fa-id-card" aria-hidden="true"></i>
						</span>
                </div>

                <div class="container-login100-form-btn">
                    <button class="login100-form-btn" type="submit">
                        Submit
                    </button>
                </div>

                <div class="text-center p-t-136">

                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>
