.balloon {
 position:relative;
 margin: 50px;
 width:400px;
 height:50px;
  background:pink;
  border-radius: 10px;
}
.balloon:after {
 border-top:0px solid transparent;
 border-left: 10px solid transparent;
 border-right: 10px solid transparent;
 border-bottom: 10px solid pink;
 content:"";
 position:absolute;
 top:-10px;
 left:200px;
}
.balloon_03 {
    position:relative;
    margin: 50px;
    width:95%;
    height:100%;
    background:#cccccc;
    border-radius: 10px;
}
.balloon_03:after {
    border-top:15px solid #cccccc;
    border-left: 15px solid transparent;
    border-right: 0px solid transparent;
    border-bottom: 0px solid transparent;
    content:"";
    position:absolute;
    top:10px;
    left:-15px;
}
